* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
  background-color: #151515;
  font-family: "Franklin Gothic Medium", Arial;
}

h2 {
  color: white;
  text-align: center;
  font-size: 25px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 1024px;
  margin: 0 auto;
}

.card {
  background-color: #31363f;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  min-height: 70px;
}

button {
  margin-top: 10px;
  border: none;
  font-size: 30px;
  background-color: transparent;
  width: 100%;
  text-align: right;
  cursor: pointer;
  color: white;
}
